<div class="ui raised segment">
  <h2 class="ui header"> Demo Advanced form </h2>

  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)"
    [class.error]="!myForm.valid && myForm.touched">
    <div class="field">
      <label>Person Name</label>
      <input type="text" id="personNameInput" placeholder="Ingrese su nombre aca . . ."
      name="personName" [formControl]="myForm.controls['personName']"
      [class.error]="!myForm.controls['personName'].valid && myForm.controls['personName'].touched">

      <div *ngIf="!myForm.controls['personName'].valid" class="ui error message">personName es invalido</div>
      <div *ngIf="myForm.controls['personName'].hasError('required')" class="ui error message">personName es requerido</div>
      <div *ngIf="myForm.controls['personName'].hasError('invalidName')" class="ui error message">nombre debe ser Tux</div>


    </div>
    <div *ngIf="!myForm.valid" class="ui error message">Formulario es invalido</div>
    <button type="submit" class="ui button">Enviar</button>

  </form>
</div>
