<div class="ui raised segment">
  <h2 class="ui header"> Demo Fast form </h2>

  <form >
    <div class="field">
      <label>Person Name</label>
      <input type="text" id="personNameInput" placeholder="Ingrese su nombre aca . . ."
      name="personName" [(ngModel)]="personName" #person="ngModel" required maxlength="5">

      <div *ngIf="person.dirty && !person.valid" class="ui error message" >El campo es obligatorio</div>

    </div>
    <button type="submit" class="ui button" (click)="onSubmit()">Enviar</button>

  </form>
  <p>Estado: {{status}}</p>

</div>
